* {
  box-sizing: border-box;
}

html,body{
  min-height: 100%;

}

#root {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #c5a688;
  color: black
}

li {
  list-style: none;
  margin: 2px 0 
}

main {
  max-width: 85vw;
  margin: auto;
}

header {
  margin: auto;
  letter-spacing: .7px;
}

.selected {
  transform: translate(0, 20px);
  font-weight: bolder;
}

.skill-item {
  list-style: none;
  margin-top: .8rem;
  letter-spacing: 1px;
}

.nav-title {
  font-size: 1.5rem;
  font-weight: bolder;
  position:absolute;
  left: 0;
}

.proj-link-btn {
  border: 1px solid black;
  padding: .25rem;
  font-size: .9rem;
  font-weight: bold;
  letter-spacing: 1px
}

.proj-link-btn:hover {
  box-shadow: 1.5px 1.5px 5px black
}